{% extends 'layout.html' %}
{% load 'static %'}
{% block content%}
<section class="hero ">
  <div class="hero-body">


      <div class="columns">
          <div class="column is-8 is-offset-2 ">
              <figure class="image is-2by1 ">
                  <img src="{{product.image.url}}" alt="">
              </figure>
          </div>

      </div>
    </div>
</section>

<section class="section bg">
  <div class="columns">
      <div class="column is-8 is-offset-2">
          <div class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  <p class="title">{{product.name}}</p>
                </a>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-info is-inverted" href="{{product.inputfile.url}}">
        
                      <span class="icon">
                        <i class="fa fa-download item-down"></i>
                      </span>
                      <strong>ดาวน์โหลด</strong>
                    </a>
                    
                  </div>
                </div>
              </div>
          </div>
          <div class="content is-medium item-sdy" style="padding-top: 2rem;">
              <p>{{product.description}} </p>

              
          </div>

          <div class="columns">
              <div class="column">มีนาคม 27, 2564</div>
              <div class="column">{{product.category.name}}</div>
              <div class="column">{{product.typefile.name}}</div>
              <div class="column">{{product.published.name}}</div>
          </div>
      </div>

</section>

{% endblock %}
