
    <nav class="nav">
        <div class="nav__links">
            <label class="nav__title"> ชื่อโปรเจ็ค</label>
            <a class="nav__link" href="{% url 'home' %}">

                หน้าหลัก
            </a>
            <label class="nav__title">หมวดหมู่</label>

            {% for category in links %}
            <a class="nav__link" href="{{category.get_url}}">
                {{category.name}}
            </a>
            {% endfor %}
            
        </div>
        <div class="nav__overlay"></div>
    </nav>