
    <nav class="nav">
        <div class="nav__links">
            <label class="nav__title"> ชื่อโปรเจ็ค</label>
            <a class="nav__link nav__link--active" href="#">

                หน้าหลัก
            </a>
            <label class="nav__title">หมวดหมู่</label>
            <a class="nav__link" href="#">

                กีฬาและฟิตเนส
            </a>
            <a class="nav__link" href="#">

                สถาปัตยกรรม
            </a>
            <a class="nav__link" href="#">

                สัตว์
            </a>
            <a class="nav__link" href="#">

                การท่องเที่ยว
            </a>
            <a class="nav__link" href="#">

                ผู้คนและตัวละคร
            </a>
            <a class="nav__link" href="#">

                วิทยาศาสตร์
            </a>
            <a class="nav__link" href="#">

                ธรรมชาติ
            </a>
            <a class="nav__link" href="#">

                ศิลปะ
            </a>
            <a class="nav__link" href="#">

                เครื่องมือและเทคโนโลยีสารสนเทศ
            </a>


        </div>
        <div class="nav__overlay"></div>
    </nav>