
{% extends 'layout.html' %}
{% load 'static %'}
{% block content %}
{% load crispy_forms_tags %}
<section class="section bg">
 
    <div class="container">
      
            <p class="title">
                สร้างบัญชีใหม่
            </p>
    
        <div class="columns is-centered Sdy">
            <div class="">
                <label for="">
                    {{form | crispy}}
                </label>
              
            </div>
        </div>
    </div>
        

  

</section>
{% endblock %}