{% extends 'layout-forms.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<section class="section bg">
    <div class="container">
        
        <h1>
            สร้างบัญชีใหม่
        </h1>
            <form method="post">
             
                <div class="columns">
                    <div class="field">
                        <label class="label">
                            {% csrf_token %}
                                {{form|crispy }}
                                
                                <input type="submit" class="btn btn-primary" value="Register">
                        </label>
                       
                    </div>

                </div>

        </form>
  

    </div>




</section>
{% endblock %}